<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
		<link href="css/style.css" rel="stylesheet">

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

		<title>Donde Invertir | Evaluar Indicador</title>
		<link rel="icon" href="images/index.ico">
	</head>
	
	<body>
		<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand">StockApp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">

				<li class="nav-item ">
					<a class="nav-link" href="/pantallaPrincipal">Home </a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/visualizarCuentas">Visualizar Cuentas</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/crearIndicador">Crear Indicador</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="/evaluarIndicador">Evaluar Indicador<span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/evaluarMetodologia">Evaluar Metodología</a>
				</li>

				</ul>
				
				<h6>Usuario: ${usuario}</h6> &nbsp;

				<form action="/logout">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logoff</button>
				</form>
			</div>
		</div>
		
		<div style="display:flex;justify-content:center;align-items:center;" class="mt-3">
			<div class="middle">
				<div style="display:flex;justify-content:center;align-items:center;">
					<h2>Evaluar Indicador</h2>
				</div>

			<br>
							
			<form action="/evaluarIndicadorEspecifico" method="get">
				<div class="form-row align-items-center">
				    <div class="col-xl">
				      <label for="selectIndicador">Indicador:</label>
				      	<select class="form-control-sm" name="selectIndicador">
				      		#foreach ( $indicador in $indicadores )
								<option value="${indicador.nombre}">${indicador.nombre}</option>
							#end
						</select>
				    </div>
				    
				    <div class="col-xl">
				      <label for="selectEmpresa">Empresa:</label>
				      	<select class="form-control-sm" name="selectEmpresa">
				      		#foreach ( $empresa in $empresas )
								<option value="${empresa.nombre}">${empresa.nombre}</option>
							#end
						</select>
				    </div>
				    
				    <div class="col-xl" align="center">
				    	<button type="submit" id="submit" class="btn btn-primary">Evaluar</button>
				    </div>
				 </div>
			</form>
										    
			</div>
		</div>
		
		<div class="container">
		  <h2>Resultados</h2>
		  <table class="table">
		    <thead>
		      <tr>
		        <th>Indicador</th>
		        <th>Empresa</th>
		        <th>Período</th>
		        <th>Valor</th>
		      </tr>
		    </thead>
		    <tbody>
		    
		    	#foreach ( $result in $resultSet )
					<tr>
		      			<td>${nombreIndicador}</td>
		      			<td>${nombreEmpresa}</td>
		      			<td>${result.periodo}</td>
		      			<td>${result.valor}</td>
		      		</tr>
				#end

		    </tbody>
		  </table>
		</div>

		<div style="display:flex;justify-content:center;align-items:center;" align="center">
			<h2>$!{message}</h2>
		</div>

		<footer style="footer" class="fixed-bottom footer-light bg-light ">
			<div style="display:flex;justify-content:center;align-items:center;">
				<h6>Grupo 15 - TP Anual Entrega 6 - Diseño de Sistemas</h6>
			</div>
		</footer>
	</body>
</html>